@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 2px dotted red;
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #fdf9ff;
  --background-end: #ffffff;
  --purple: #d49cff;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-start);
}

p {
  color: rgba(29, 24, 85, 0.653);
}

span.gradient {
  background: linear-gradient(90deg, #74cbf7 20%, #8993ff 52%, #bf74f7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Nav Items */
.nav-items li:hover {
  opacity: 0.7;
}

@media (max-width: 900px) {
  .nav-items li {
    margin: 1rem;
  }
}

/* Landing Page */
.heading {
  font-size: 2.25rem;
  line-height: 100%;
  font-weight: 800;
  color: rgb(30 25 75);
  text-align: center;
}

.sub-heading {
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(29, 24, 85, 0.75);
}

@media (min-width: 768px) {
  .heading {
    font-size: 3.75rem;
  }
  .sub-heading {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.landing-page {
  background-image: linear-gradient(
    180deg,
    #f9f2ff 30%,
    #e4c1ff 66%,
    #d49cff 100%
  );
  z-index: 2;
}

.page-wrapper {
  width: 100%;
  background-image: linear-gradient(0deg, #e8caff 0%, #f5e9ff 52%);
  /* background-color: var(--background-start); */
  padding: 10rem;
  padding-top: 0rem;
}

.page-wrapper.dark {
  background-image: linear-gradient(180deg, #150017 29%, #2b1135 100%);
  padding: 5rem 10rem;
}

@media (max-width: 800px) {
  .page-wrapper {
    padding: 5rem;
  }
}
@media (max-width: 660px) {
  .page-wrapper {
    padding: 2rem 1rem;
  }
}

/* Banners */

.banner {
  background-image: linear-gradient(180deg, #f9f2fa 30%, #f3d4ff 97%);
}
.feature.banner {
  transform: translateY(-6rem);
}
.feature.banner li {
  border-radius: 5px;
  padding: 8px 3px;
  transition: 150ms ease-in-out;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature.banner li img {
  transition: 200ms;
  height: 100px;
  width: 100px;
}

.feature.banner li p {
  transition: 200ms;
}

.feature.banner li:hover {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.14);
  background-color: #faf3ffa6;
}

.feature.banner li:hover img {
  transform: scale(0.85);
}

.feature.banner li:hover p {
  transform: translateY(-22%);
}

@media (min-width: 300px) {
  .feature.banner li {
    flex: 1;
  }
}
@media (max-width: 300px) {
  .feature.banner li {
    width: 100%;
    padding: 1rem;
  }
}

.gradient.banner {
  background-image: linear-gradient(0deg, #c594e5 0%, #e3a9cd 65%);
  padding: 4rem;
}
