@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #f9f2ff;
  --background-end: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start);
}

span.gradient {
  background: linear-gradient(90deg, #74cbf7 20%, #8993ff 52%, #bf74f7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading {
  font-size: 2.25rem;
  line-height: 100%;
  font-weight: 800;
  color: rgb(30 25 75);
  text-align: center;
}

.sub-heading {
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(67 56 202/ 0.75);
}

@media (min-width: 768px) {
  .heading {
    font-size: 3.75rem;
  }
  .sub-heading {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.nav-items li:hover {
  opacity: 0.7;
}
