.feature-catalog {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  grid-template-rows: min-content;
  /* align-content: stretch; */
  gap: 2rem;
}

.feature-catalog img {
  height: 180px;
  width: 180px;
}

/* Feature Item */
.feature-item {
  overflow: hidden;
  border-radius: 0.375rem;
  transition: 100ms ease-in-out;
}

.feature-item:hover {
  background-color: #d49cff;
  box-shadow: 0 0 20px 2px rgba(133, 133, 133, 0.3);
}

.feature-item:hover img {
  transform: scale(0.9);
}
.feature-item img {
  transition: 200ms ease-in-out;
}

@media screen and (max-width: 1300px) {
  .feature-catalog {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
  }
}

@media screen and (max-width: 700px) {
  .feature-catalog {
    grid-template-columns: minmax(180px, 1fr);
  }
}
